/*--------------------------------------------------------------------------------------------------------------------------*/
/* article */
/*--------------------------------------------------------------------------------------------------------------------------*/

:root {
  --sidebar-article-separation: 100px;
}

.article {
  width: 100%;
  /* height: 2000px; */
  margin-left: calc(var(--sidebar-width) + var(--sidebar-article-separation));

  z-index: 1;
  background-color: var(--theme-background1);
  box-shadow:
    2px 0px 0px 0px var(--theme-border1),
    -2px 0px 0px 0px var(--theme-border1);
}

.article {
  padding: 50px
}
