/*--------------------------------------------------------------------------------------------------------------------------*/
/* root */
/*--------------------------------------------------------------------------------------------------------------------------*/
:root {
  --root-margin-left: 100px;
  --root-margin-vertical: 100px;
}

body {
  background-color: var(--theme-background1);
}

.root-wrapper {
  width: 700px;
  margin-left: var(--root-margin-left);
  margin-top: var(--root-margin-vertical);
  margin-bottom: var(--root-margin-vertical);
}

.root {
  font-family: Spectral-Regular;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/* sidebar */
/*--------------------------------------------------------------------------------------------------------------------------*/

:root {
    --sidebar-width: 100px;
    --sidebar-height: 200px;
}

.sidebar-wrapper {
  position: fixed;
  /* width: var(--sidebar-width); */
  width: calc(100vw);
  /* height: var(--sidebar-height); */

  padding-left: var(--root-margin-left);
  padding-top: 50px;
  padding-bottom: 50px;

  top: calc(50% - 0.5*var(--sidebar-height));
  left: 0px;

  z-index: -1;
  background-color: var(--theme-background2);
  box-shadow:
    0px 2px 0px 0px var(--theme-border1),
    0px -2px 0px 0px var(--theme-border1);
}

.sidebar {

}

.sidebar-title {
  text-align: center;
  width: var(--sidebar-width);
  left: var(--root-margin-left);
  font-style: italic;
  font-weight: bold;
  color: var(--theme-font2);
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/* feed */
/*--------------------------------------------------------------------------------------------------------------------------*/

:root {
  --sidebar-feed-separation: 100px;
}

.feed-wrapper {
  width: 100%;
  /* height: 2000px; */
  margin-left: calc(var(--sidebar-width) + var(--sidebar-feed-separation));

  z-index: 1;
  background-color: var(--theme-background1);
  box-shadow:
    2px 0px 0px 0px var(--theme-border1),
    -2px 0px 0px 0px var(--theme-border1);
}

.feed {
  padding-bottom: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/* post */
/*--------------------------------------------------------------------------------------------------------------------------*/

:root {
  --post-margin-horizontal: 25px;
  --post-margin-vertical: 50px;
}

.post-wrapper {
  position: relative;
  padding-left: var(--post-margin-horizontal);
  padding-right: var(--post-margin-horizontal);
  padding-top: var(--post-margin-vertical);
}

.post {
  background-color: var(--theme-background3);
  padding: 20px;
  /* box-shadow: -2px -2px 0px 0px var(--theme-border1); */
}

.post-title {
  font-size: 24px;
  font-family: Spectral-Bold;
  color: var(--theme-font2);
}

.post-divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--theme-border2);
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-body {
  color: var(--theme-font1);
}
