:root {
  --theme-background1: white;
  --theme-background2: rgb(200, 200, 200);
  --theme-background3: rgb(245, 245, 245);

  --theme-border1: black;
  --theme-border2: black;

  --theme-font1: black;
  --theme-font2: black;
}

/* :root {
  --theme-background1: black;
  --theme-background2: rgb(55, 55, 55);
  --theme-background3: rgb(25, 25, 25);

  --theme-border1: green;
  --theme-border2: lime;

  --theme-font1: white;
  --theme-font2: lime;
  --theme-font3: violet;
} */
