<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- title -->
<title>{{ page.title }}</title>

<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<!-- styles -->
<link rel="stylesheet" type="text/css" href="/css/main.css">

<!-- highlight -->
<link rel="stylesheet" href="{{ "assets/highlight/gruvbox-dark.css" | relative_url }}">
<script src="{{ "assets/highlight/highlight.pack.js" | relative_url }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
