<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<!-- title -->
<title>{{ page.title }}</title>

<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<!-- highlight -->
<!-- <link rel="stylesheet" href="/scripts/highlight/styles/default.css"> -->
<!-- <link rel="stylesheet" href="/scripts/highlight/styles/atelier-sulphurpool-dark.css"> -->
<link rel="stylesheet" href="/scripts/highlight/styles/riib11.css">
<script src="/scripts/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- styles -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
