{% for project in site.projects_stable %}
  <div class="panel"><div>
    <div class="header">
      <!-- title -->
      <!-- if project has href -->
      {% if project.href %}
        <a href="{{ project.href }}" class="title">{{ project.title }}</a>
      <!-- if project does not have href -->
      {% else %}
        <span class="title">{{ project.title }}</span>
      {% endif %}
      <!-- collapse button -->
      {% if include.collapsable == "true" %}
        <span class="toggle-collapse title" onclick="document.getElementById('{{ project.title | slugify }}').classList.toggle('hidden')">+</span>
      {% endif %}
    </div>
    <!-- content -->
    <div class="content hidden" id="{{ project.title | slugify }}">{{ project.content | markdownify }}</div>
  </div></div>
  {% endfor %}
