html {
  margin: 0;
  padding: 0;
}

@media (max-width: 550px) {
  html {
    font-size: $font-size-root-mobile;
  }
}

@media (min-width: 551px) {
  html {
    font-size: $font-size-root-desktop;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.un-a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1em;
  padding-top: 1.5rem;
}

div,
p,
blockquote,
li {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: normal;
}

pre {
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
}

p,
blockquote,
li {
  line-height: 1.4 * $font-size-body;
}

pre {
  width: calc(100% - 2em);
  padding: 1rem;
  overflow: scroll;
  box-shadow: -0.3rem 0 0 0 $color-dark;
  background-color: rgb(240, 240, 240);
}

ol {
  padding-left: 1.5rem;
}

ol>ol {
  padding-left: 1.2rem;
}

ul {
  padding-left: 1rem;
}

th {
  text-align: left;
}

table,
td {
  border: 1px solid black;
}

table {
  margin: auto;
  border-collapse: collapse;

  box-shadow: 0 0 0 1px black inset;
}

thead {
  background-color: $color-dark;
}

th {
  padding: 0.2rem;
  vertical-align: top;

  color: white;
  font-weight: normal;
}

tbody {}

tr {}

td {
  padding: 0.2rem;
  vertical-align: top;
}

blockquote {
  box-shadow: -1rem 0 0 0 white, -1.1rem 0 0 0 black, 1rem 0 0 0 white,
    1.1rem 0 0 0 black;
}

pre::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

pre {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}