html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.un-a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  line-height: 1.4 * $font-size-body;
}

pre {
  width: calc(100% - 2em);
  padding: 1em;
  overflow: scroll;
  box-shadow: -0.3em 0 0 0 $color-dark;
  background-color: rgb(240, 240, 240);
}

ol {
  padding-left: 1.5em;
}

ol > ol {
  padding-left: 1.2em;
}

ul {
  padding-left: 1em;
}

th {
  text-align: left;
}

table,
td {
  border: 1px solid black;
}

table {
  margin: auto;
  border-collapse: collapse;

  box-shadow: 0 0 0 1px black inset;
}

thead {
  background-color: $color-dark;
}

th {
  padding: 0.2em;
  vertical-align: top;

  color: white;
  font-weight: normal;
}

tbody {
}

tr {
}

td {
  padding: 0.2em;
  vertical-align: top;
}

blockquote {
  box-shadow: -1em 0 0 0 white, -1.1em 0 0 0 black, 1em 0 0 0 white,
    1.1em 0 0 0 black;
}
