.category-title {
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
  padding: 0 0.2rem;
  border-radius: 0.2rem;

  // box-shadow: 0 0 0 0.1rem rgb(214, 214, 214); // black;
  background-color: rgb(214, 214, 214);
}

.category {
  display: inline-block;
  padding: 0 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
  border-radius: 0.2rem;

  background-color: rgb(214, 214, 214);
}
