$a-color: rgb(183, 79, 5);

$color-shadow: rgb(50, 50, 50);
$box-shadow-normal: 0 0 10px $color-shadow;
$box-shadow-normal-up: -5px -5px 5px 2px $color-shadow;
$box-shadow-normal-down: -5px 5px 5px 2px $color-shadow;
$box-shadow-large: 0 0 10px 7px $color-shadow;

$background-highlight: linear-gradient(to right, orange, black, lime);
$background-highlight-sharp: linear-gradient(to right, orange 30%, black 30% 70%, lime 70%);
