$color-background0: rgb(200, 200, 200);
$color-background0: #898ea4;
$color-background: rgb(240, 240, 240);
$color-foreground: #181d34; // #202746;

$color-text: black;

$color-accent1: #d88041; // orange
$color-accent2: #736526; // green

// $color-code: #979db4;
// $color-code-background: #202746;
$color-code: white;
$color-code-background: black;
