//
// top-level
//

a {
  text-decoration: none;
  color: inherit;
}


//
// html
//

html {
  margin: 0;
  padding: 0;
}

//
// body
//

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.frame {
  max-width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

//
// header
//

header {
  position: relative;
  z-index: 1;

  background-color: black;
  box-shadow: 0 0 20px black;

  .title {
    display: block;
    margin-bottom: 20px;

    font-size: $supertitle-font-size;
    color: white;
    text-decoration: none;
  }
}

//
// navigation
//

.navigation {
  margin-bottom: -20px;

  .tab {
    display: inline-block;
    margin-right: 10px;
    padding: 1px;
    margin-bottom: 20px;

    background: linear-gradient(to right, white 20%, black 20% 80%, white 80%);

    div {
      display: inline-block;
      width: 90px;

      // padding-left: 3px;
      // padding-right: 6px;
      // padding-top: 3px;
      // padding-bottom: 6px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;

      font-size: $tab-font-size;
      font-family: cmu-sans-serif;
      text-decoration: none;
      text-align: center;

      background-color: black;
      color: white;
    }
  }

  .tab:hover {
    background: linear-gradient(to right, lime 30%, black 30% 70%, orange 70%);

    div {
      background-color: black;
      color: white;
    }
  }

}

//
// main
//

main {
  width: 600px;
  padding-left: 40px;
  position: relative;
  z-index: 0;

  font-size: $normal-font-size;
  font-family: normal;
  color: black;
}

p {
  text-align: justify;
  line-height: 1.5;
}

a {
  color: $a-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  box-shadow: 0 0 20px black;
}

h1, h2, h3, h4, h5, h6 {
  box-shadow: -10px 0 0 0 white, -40px 0 0 0 black;

  font-weight: normal;
  font-family: title;
  font-style: normal;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; font-variant: small-caps; }

pre {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: scroll;

  background-color: black;
  color: white;

  box-shadow: 0 0 20px black;
}

pre code {

}

blockquote {
  display: block;

  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;

  padding-left: 20px;
  padding-right: 20px;

  // border-left: 2px solid gray inset;
  box-shadow: 5px 0 0 white inset, 10px 0 0 0 gray inset;
}

//
// footer
//

footer {
  position: relative;
  z-index: 0;

  color: white;
  background-color: black;
  box-shadow: 0 0 20px black;
}
