@font-face {
  src: url(../assets/fonts/Baskerville.ttc);
  font-family: heading;
}

@font-face {
  src: url(../assets/fonts/cmuntt.otf);
  font-family: typerwriter;
}

@font-face {
  src: url(../assets/fonts/cmunrm.otf);
  font-family: normal;
}
