@font-face {
  font-family: spectral;
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/Spectral-Regular.ttf);
}

@font-face {
  font-family: spectral;
  font-weight: bold;
  font-style: normal;
  src: url(/assets/fonts/Spectral-Bold.ttf);
}

@font-face {
  font-family: spectral;
  font-weight: normal;
  font-style: italic;
  src: url(/assets/fonts/Spectral-Italic.ttf);
}

@font-face {
  font-family: spectral;
  font-weight: bold;
  font-style: italic;
  src: url(/assets/fonts/Spectral-BoldItalic.ttf);
}

@font-face {
  font-family: firacode;
  src: url(/assets/fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: dankmono;
  src: url(/assets/fonts/DankMono-Regular.ttf);
}
