header {
  // padding: 2rem 1rem;
  // width: (10 - 2em);

  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: $color-dark;
  color: white;
}

.header-title {
  margin-bottom: 0.5rem;

  font-size: $font-size-h0 !important;
  color: white;

  a {
    color: white;
  }
}

.header-navigation {
  font-size: $font-size-body;
}

.header-navigation-item {
  display: inline-block;
  margin-right: 0.5rem;

  color: white;
}

.header-navigation-item-separator {
  display: inline-block;
  margin-right: 0.5rem;
}
