header {
  // padding: 2em 1em;
  // width: (10 - 2em);

  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 2em;

  background-color: $color-dark;
  color: white;
}

.header-title {
  margin-bottom: 0.5em;

  font-size: $font-size-h0 !important;
  color: white;

  a {
    color: white;
  }
}

.header-navigation {
  font-size: $font-size-body;
}

.header-navigation-item {
  display: inline-block;
  margin-right: 0.5em;

  color: white;
}

.header-navigation-item-separator {
  display: inline-block;
  margin-right: 0.5em;
}
