$card-margin-vertical: 20px;
$card-width: 80%;

$card-padding: 20px;

.card {
  color: $color-primary;
  display: block;
  font-style: normal;

  // margin-left: $handle-unhover-horizontal;
  margin-bottom: $card-margin-vertical;
  padding: $card-padding;

  text-decoration: none;

  box-shadow:
    $handle-unhover-horizontal 0 0 $handle-hover-thickness $color-primary;

  transition: 0.2s box-shadow;

  .title {
    font-size: $font-size-card-title;
    color: $color-primary;
    font-weight: bold;
  }

  .categories {
    margin-top: 10px;
    .category {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .subtitle {
    font-size: $font-size-card-subtitle;
    margin-top: 10px;
  }
}

.card:hover {
  box-shadow: $handle-horizontal 0 0 0 $color-primary;
  transition: 0.2s box-shadow;
}
