// variables

$box-shadow-panel: 0 0 8px 0 black;

// basic

p {}

// headers

h1, h2, h3, h4, h5, h6 {
  display: block;
  padding: $padding-heading-vertical $padding-main-horizontal;
  margin-top: 60px;
  margin-left: -$padding-main-horizontal;
  width: 100%;

  box-shadow:
     ($padding-main-horizontal - $padding-heading-horizontal) 0 0 0 $color-foreground inset,
    -($padding-main-horizontal - $padding-heading-horizontal) 0 0 0 $color-foreground inset;

  font-weight: normal;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
  background-color: $color-foreground;
  color: $color-accent1;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

// emphasis

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

// lists

ol, ul {}
ol {}
ul {}

li {}

dl {}
dd {}
dt {}

// links

a {}

// images

img {
  margin: auto;
  max-width: 100%;

  box-shadow: $box-shadow-panel;
}

.full-width {
  width: $max-width-body + 2*$padding-main-horizontal;
  max-width: calc(100% + 2*#{$padding-main-horizontal});
  margin-left: -$padding-main-horizontal;
}

// code and syntax highlighting

code {
  font-size: 11pt;
}

pre {
  display: block;
  padding: $padding-pre-vertical $padding-pre-horizontal;
  padding-top: $padding-pre-vertical + $height-pre-scrollbar;
  margin-left: -$padding-main-horizontal;
  width: 100%;

  overflow-x: scroll;

  background: #202746;
  box-shadow: $box-shadow-panel;
}

pre code {
  display: block;
  padding: 0;

  font-size: 10pt;
}

pre::-webkit-scrollbar, code::-webkit-scrollbar {
  height: $height-pre-scrollbar;
}

pre::-webkit-scrollbar-track, code::-webkit-scrollbar-track {
  border-radius: 0;
  background: #202746;
}

pre::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #898ea4;
}

// tables

table, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;

  box-shadow: $box-shadow-panel;
}

thead {
  background-color: $color-foreground;
}

th {
  padding: 8px;
  vertical-align: top;

  color: $color-background;
  font-weight: normal;
}

tbody {}

tr {}

td {
  padding: 8px;
  vertical-align: top;
}

// blockquotes

blockquote {
  padding: 0 8px;
  margin: 0 8px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

// inline HTML

// horizontal rule

// line breaks

// embeds

// miscellaneous
