//
// cards
//

.cards {
  padding: 0;
  margin-bottom: 20px;
}

// .card > div {
//   padding: 4px;
//   margin-top: 40px;
//   margin-bottom: 40px;
//
//   background-color: white;
// }

.card {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;

  background-color: white;

  .title {
    display: block;

    margin-top: 0;
    margin-bottom: 10px;

    margin-left: -30px;
    padding-left: 30px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;

    background-color: black;
    box-shadow: $box-shadow-normal-down;

    > div {
      margin-top: 0;
      margin-bottom: 0;

      margin-left: -30px;
      padding-left: 30px;
      padding-right: 4px;
      padding-top: 0;
      padding-bottom: 0;

      font-size: $title-font-size;
      color: white;
      background-color: black;
    }
  }

  .title:hover {
    background: linear-gradient(to right, black, lime, orange);
  }

  .abstract {
    padding-left: 10px;
    padding-right: 10px;

    text-align: justify;
  }

  hr {

  }

  .data {
    margin-top: 10px;
    display: block;
    height: 20px;

    font-size: $small-font-size;
  }

  .date {
    float: left;
    width: 50%;

    font-style: italic;
  }

  .categories {
    float: right;
    width: 50%;
  }

  .category {
    margin-left: 5px;
    float: right;

    font-style: italic;
  }

}
