.feed {
}

.feed-item {
  margin-bottom: 2.5rem;
}

.feed-item-title {
  display: block;
  margin-bottom: 0.4rem;

  font-size: $font-size-h1 !important;
  color: black;
}

.feed-item-categories {
}

.feed-item-date {
  // margin-top: -0.4rem;
  margin-bottom: 0.4rem;
  font-style: italic;
}

.feed-item-abstract {
}
