.page {

}

.page-title {
  font-size: $font-size-page-title;
}

.page-title-underbar {
  border: none;
  border-bottom: 1px solid $color-foreground;

  width: 110%;
  margin-left: -5%;
}

.page-content {

}
