.page {}

.page-title {
  display: block;
  padding: 0.5rem 0rem;

  box-shadow: -0.5rem 0 0 0 white, -1rem 0 0 0 #181d34;

  color: black;
  font-size: $font-size-h0 !important;
}

.page-title-underbar {}

.page-content {}