.post {
}

.post-title {
  font-size: $font-size-h0 !important;

  margin-bottom: 0.4rem;
}

.post-categories {
}

.post-date {
  margin-bottom: 0.4rem;
  font-style: italic;
}

.post-status {
}

.post-content {
}

img {
  width: 100%;
}

.table-of-contents {
  margin: 2rem 0;
}
