.post {
  display: block;

  padding: 20px;

  .title {
    font-size: $font-size-page-title;
    font-weight: bold;
  }

  p, ul, ol {
    text-align: justify;
  }

  .categories {
    margin-top: 10px;
    .category {
      display: inline-block;
      margin-right: 10px;
    }
  }

  img {
    width: 100%;
  }


}
