// the scrollbar.
::-webkit-scrollbar {

}

// the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-button {

}

// the draggable scrolling handle.
::-webkit-scrollbar-thumb {
  color: red;
  background-color: red;
}

// the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track {
  color: red;
  background-color: red;
}

// the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-track-piece {
  color: red;
  background-color: red;
}

// the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-scrollbar-corner {

}

// the draggable resizing handle that appears at the bottom corner of some elements.
::-webkit-resizer {

}
