.table-of-contents {
  margin: 2em 0;
  padding: 0 1em;

  box-shadow: 0.4rem 0 0 0 gray inset;
}

.table-of-contents-label {
  margin-bottom: 1rem;
  font-variant: small-caps;

  font-size: $font-size-h6;
}

.table-of-contents-content {}

.table-of-contents-content ol {
  margin: 0;
}

.table-of-contents a {}