:root {
    --bgcolor: black;
    --fontcolor: white;
    --fontfamily: profont;
    --fontsize: 18px;
}

html {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: var(--bgcolor);
    color: var(--fontcolor);
    font-family: var(--fontfamily);
    font-size: var(--fontsize)
}

#console {
    margin: auto;
    margin-top: 20px;
    padding: 20px;

    width: 600px;
    height: 600px;

    box-shadow: 0px 0px 0px 1px green;
    overflow: hidden;
}

#console_hint {
    height: 20px;
    /*box-shadow: 0px 0px 0px 1px white;*/
}

#console_input {
    /*box-shadow: 0px 0px 0px 1px white;*/
}

#console_output {
    /*box-shadow: 0px 0px 0px 1px white;*/
}