---
layout: default
---

<div class="feed">
  
  {% for post in site.posts %}
  <div class="feed-item">

    <!-- title -->
    <div><a class="feed-item-title un-a" href="{{ post.url | relative_url }}">
        <div>{{ post.title }}</div>
      </a></div>
    
    <!-- categories -->
    <div class="feed-item-categories">
      {% for category in post.categories %}
      <a class="category un-a" href="/categories/#{{ category | escape }}">
        {{ category }}
      </a>
      {% endfor %}
    </div>

    <!-- date -->
    <div class="feed-item-date">{{ post.date | date: "%Y/%m/%d" }}</div>
    
    <!-- abstract -->
    <div class="feed-item-abstract">{{ post.abstract }}</div>

  </div>
  {% endfor %}
  
</div>
